@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

html{
  scroll-behavior: smooth;
}

nav {
  background-color: #6D8BA6;
  font-weight: 500;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

header#inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9rem;
  background-color: #6D8BA6;

}

header#inicio h1 {
  font-size: 2.5vw;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

section.personagem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #D8E3F2;
}

section.personagem div#img-botao img{
  display: block;
  margin: auto;
  width: 70%;
  border-radius: .5rem;
}

section.personagem div#img-botao button{
  border: 1px solid #6D8BA6;
  background-color: #D8E3F2;
  color: #6D8BA6;
  padding: 1rem;
  font-size: .8vw;
  font-weight: 600;
  border-radius: .5rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  transition: .6s ease-out;
}

section.personagem div#img-botao button:hover {
  background-color: #6D8BA6;
  color: #fff;
  transform: scale(1.2);
}